.contenido {
  margin-left: 250px;
  padding: 20px;
}

.sidebar {
  width: 250px;
}

.sidebar.collapsed {
  width: 80px;
}

.contenido {
  margin-left: 250px;
  transition: margin-left .3s ease;
}

.sidebar.collapsed ~ .contenido {
  margin-left: 80px;
}
